body{
    background-image:url(hand\ flour.webp);
}

ul{
    text-decoration: dashed;
}
li{
    text-decoration: double;
    text-shadow: 0ch;
    text-decoration: wavy;
}
h1{
    text-align: center;
    color: brown;
}
button{
    text-decoration: wavy;
    color: rgb(104, 9, 37);
}
a{
    text-decoration: wavy;
    
}
table{
    width: 80%;
    margin: 25px auto;

}
