table{
    border: 1px color(black);
    border-collapse: collapse;
    border-radius: 5px;
    width: 80% ;
    margin: 25px auto;
    box-shadow: 0px 10px 30px 5px rgba(0, 0,0, .15);
}
td, th{
    border: 1px solid#222;
    padding: .5rem;
    text-align: center;
    color: #d2aaaa;

}
h1{
    font-size: 2rem;
    font-weight:bold;
    padding: .2rem 0;
    text-align: center
}
thead{
    background: #bbb;
    color: white;

}
td{
    background-color: #a98181;
    text-align: center;
}
th{
    text-align: center;
    color: #a98181;
}